h4{
    color: blue;
}

body{
    background-color:##F8F8F8!important;
}
#profile-wrapper{
    text-align: center;
}
#profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

ul{
    padding:0;
    list-style-type: none;
}
.social-links ul,li{
    list-style-type:none;
    display: inline-blocks;
}

.social{
    width:30px;
    height:30px;
    float:left;
}